In [21]:
import pandas as pd
import matplotlib.pyplot as plt

data_df = pd.read_excel('OECD의사수.xlsx')
# Variable 0:Practising physicians / 1:Professionally active physicians / 2:Physicians licensed to practice
# Measure 0:Number of persons (head counts) / 1: Density per 1 000 population (head counts)
# OECD 0: OECD Economies / 1: Non-OECD Economies
print(data_df)

     Variable  Measure  OECD         Country      2000      2001      2002  \
0           0        0     1       Australia  47372.00  49392.00  49895.00
1           0        0     1         Austria  30871.00  31859.00  32575.00
2           0        0     1         Belgium  28999.00  29303.00  29537.00
3           0        0     1          Canada  61748.00  62488.00  63498.00
4           0        0     1        Colombia  49406.00  51209.00  53266.00
..        ...      ...   ...             ...       ...       ...       ...
181         2        1     1        Portugal      3.08      3.13      3.16
182         2        1     1           Spain      4.41      4.42      4.49
183         2        1     1          Sweden      4.19      4.31      4.44
184         2        1     1  United Kingdom      3.43      3.48      3.52
185         2        1     1   United States      2.88      2.93      2.97

         2003      2004      2005  ...      2010      2011      2012  \
0    51819.00  53966.00  56084.00  ...       NaN  74100.00  75258.00
1    33410.00  34334.00  35518.00  ...  40105.00  40634.00  41268.00
2    29646.00  29891.00  30081.00  ...  31815.00  32182.00  32583.00
3    63780.00  65301.00  66688.00  ...  77488.00  80762.00  83629.00
4    55332.00  57774.00  60331.00  ...  74584.00  78221.30  81739.53
..        ...       ...       ...  ...       ...       ...       ...
181      3.22      3.28      3.36  ...      3.85      3.98      4.10
182      4.52      4.54      4.56  ...      4.80      4.84      4.89
183      4.59      4.75      4.91  ...      5.68      5.84      6.00
184      3.74      3.85      3.96  ...      3.61      3.68      3.71
185      3.00      3.02      3.05  ...      3.19      3.22      3.27

         2013      2014      2015      2016       2017       2018       2019
0    77974.00  80968.00  83490.00  86550.00   90417.00   93604.00        NaN
1    42302.00  43126.00  44002.00  44816.00   45596.00   46337.00        NaN
2    32999.00  33353.00  34020.00  34834.00   35069.00   35762.00        NaN
3    86406.00  88873.00  91268.00  94643.00   97213.00  100845.00  103020.00
4    85694.36  90085.25  93815.37  97965.63  103025.77  108499.30        NaN
..        ...       ...       ...       ...        ...        ...        ...
181      4.26      4.43      4.61      4.80       4.97       5.15        NaN
182      4.99      5.13      5.23      5.33       5.45       5.57        NaN
183      6.16      6.32      6.48      6.58       6.68       6.79        NaN
184      3.72      3.67      3.60      3.62       3.67       3.76       3.91
185      3.31      3.35      3.39      3.43       3.47       3.49        NaN

[186 rows x 24 columns]

In [27]:
meanData_df = data_df.groupby(['Variable','Measure','OECD']).mean()

In [29]:
meanData_df

                                2000           2001           2002  \
Variable Measure OECD
0        0       0     768837.500000  784250.750000  751913.000000
                 1      83938.033333   79865.275862   86960.433333
         1       0          1.942500       1.960000       1.952500
                 1          2.685667       2.732414       2.749333
1        0       1     105389.682381  100223.966500  109133.777619
         1       1          2.962381       3.027500       3.012381
2        0       1     116552.590909  110941.583333  113488.208333
         1       1          3.600455       3.649583       3.722083

                                2003           2004           2005  \
Variable Measure OECD
0        0       0     778409.500000  801655.000000  824624.250000
                 1      81574.166667   89070.419355   87512.172414
         1       0          1.990000       2.040000       2.077500
                 1          2.847667       2.864839       2.908966
1        0       1     103455.666500  107735.409091  100852.848636
         1       1          3.094500       3.067727       3.094545
2        0       1     116065.416667  118460.416667  112020.000000
         1       1          3.799583       3.880417       3.978846

                                2006           2007           2008  \
Variable Measure OECD
0        0       0     681962.800000  587795.333333  607212.666667
                 1      95299.033333   90925.965517   98733.133333
         1       0          2.112000       1.905000       1.931667
                 1          2.939000       3.004138       3.028667
1        0       1     105229.375000   98917.782609  104691.320000
         1       1          3.064583       3.146087       3.200800
2        0       1     114250.615385  121430.680000  119783.807692
         1       1          4.045385       4.180800       4.282308

                                2009           2010           2011  \
Variable Measure OECD
0        0       0     634748.666667  656264.000000  719743.200000
                 1      94372.413793  103231.620690   95561.210000
         1       0          1.973333       2.005000       1.914000
                 1          3.087931       3.082069       3.149333
1        0       1      99051.458333  109760.541667  102704.333333
         1       1          3.275833       3.281667       3.378750
2        0       1     120901.076923  120856.846154  118413.107143
         1       1          4.344231       4.335000       4.406071

                                2012           2013           2014  \
Variable Measure OECD
0        0       0     621129.500000  651861.000000  792929.600000
                 1     103390.242903   99482.612000  108474.233871
         1       0          1.633333       1.666667       1.996000
                 1          3.150645       3.229333       3.250968
1        0       1     112190.133200  106863.708333  123609.260870
         1       1          3.377600       3.460833       3.481739
2        0       1     120631.178571  123097.214286  125373.107143
         1       1          4.471429       4.563929       4.645000

                                2015          2016          2017  \
Variable Measure OECD
0        0       0     819084.200000  1.062118e+06  1.119556e+06
                 1     106722.840345  1.152572e+05  1.107757e+05
         1       0          1.986000  2.357500e+00  2.440000e+00
                 1          3.321724  3.346333e+00  3.436207e+00
1        0       1     116508.363636  1.316762e+05  1.244914e+05
         1       1          3.566818  3.576818e+00  3.680952e+00
2        0       1     127515.607143  1.301911e+05  1.328760e+05
         1       1          4.739286  4.824286e+00  4.917857e+00

                                2018          2019
Variable Measure OECD
0        0       0     307634.000000           NaN
                 1     124533.082143  97740.833333
         1       0          3.580000           NaN
                 1          3.500000      3.651667
1        0       1     148892.789474  41793.000000
         1       1          3.705789      4.120000
2        0       1     139345.538462  66688.444444
         1       1          4.976154      5.156250

In [41]:
y1 = meanData_df.iloc[2:3,:]
y2 = meanData_df.iloc[3:4,:]
y3 = meanData_df.iloc[4:5,:]

In [ ]:
yearList = arange(2000,2020)
plt.plot(yearList, y1,label='OECD', color='blue', alpha = 0.3)  # label 설정값을 legend에 나타날 수 있음
plt.plot(yearList, y2, label='1+cos', color='red', alpha = 0.7)

plt.xlabel("x value")
plt.ylabel("y value")

plt.title("sin and cos graph", fontsize = 18)
plt.grid()
plt.legend()

plt.show()